body {
    background-color: rgb(30, 31, 33);
}

.navbar {
    overflow: hidden;
    background-color: rgb(21, 22, 24);
    position: fixed;
    top: 0;
    left: 0;
    right: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgb(16, 16, 16);
    font-family: 'Poppins', sans-serif;
}

.navbar a {
    float: right;
    display: block;
    color: rgb(218, 218, 218);
    text-align: center;
    padding: 15px;
    padding-right: 5%;
    text-decoration: none;
    font-size: 12px;
}

.navbar p {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    padding-left: 30px;
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    color: rgb(78, 248, 204);
}

.navbar a:active {
    color: rgb(255, 255, 255);
}

.navbar a:link {
    color: rgb(218, 218, 218);
}

.main {
    margin-top: 0px;
}

.col-1 {
    float: left;
    width: 50%;
    height: 950px;

    background-color: rgb(30, 31, 33);
}

.col-2 {
    float: right;
    width: 50%;
    height: 950px;
    background-color: rgb(30, 31, 33);
}

.col-3 {
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0;
    float: left;
    width: 6%;
    background-color: rgb(30, 31, 33);
}

.col-4 {
    right: 0;
    float: right;
    width: 94%;
    background-color: rgb(30, 31, 33);
}

.col-5 {
    width: 38%;
    height: 200px;
    background-color: rgb(30, 31, 33);
}

.col-6 {
    float: left;
    padding-left: 10px;
    width: 38%;
    height: 100px;
    background-color: rgb(30, 31, 33);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.p1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
}

.p2 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    size: 10px;
    font-size: 100%;
}

.p3 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 80px;
    font-weight: bolder;
    height: 14%;
    margin: 0px;
    padding: 0px;
}

.p4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    height: 0%;
    margin: 0px;
    padding-bottom: 20px;
}

.v1 {
    box-shadow: 0 1px 10px rgb(16, 16, 16);
    height: 20%;
    margin: 0px;
    padding: 0px;
}

.fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

.button {
    background-color: #4EF8CC;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgb(16, 16, 16);
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(16, 16, 16);
}

footer {
    text-align: center;
    height: 50px;
    background-color: rgb(30, 31, 33);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}